.tableContainer{
    width: 95%;
    background-color: white;
    margin:auto;
    font-size: 12px;
    padding-top:20px;
    padding-left:2.5%;
    padding-right:2.5%;
    padding-bottom: 20px;
}

table{
    margin:auto;
    font-size: 12px;
    margin-top: 20px;
}

.name{
    /* width:200px; */
    font-weight: bold;
}

.paginationContainer{
    text-align: right;
}

tr, th, td {
    border:none;
}

.container-fluid{
    padding:2.5%;
}

@media (max-width: 800px) {
    .tableContainer{
        width: 100%;
        background-color: white;
        margin:auto;
        /* margin-top: 2.5%; */
        font-size: 12px;
        padding-top:20px;
        padding-left:2.5%;
        padding-right:2.5%;
        padding-bottom: 20px;
    }
    .container-fluid{
        padding:0;
        margin:0;
    }
 }