<div class="tableContainer">
  <h1>Standings</h1>
  <div class="btn-group btn-group-sm">
    <a (click)="onClickDiv('All')" class="btn btn-outline-secondary" 
    [ngClass]="{'cactive' : division === 'All','disabled' : alb === 'atlarge'}" 
    >All</a>
    <a (click)="onClickDiv('College')" class="btn btn-outline-secondary" [ngClass]="{'cactive' : division === 'College'}">College</a>
    <a (click)="onClickDiv('Adult Community')" class="btn btn-outline-secondary" [ngClass]="{'cactive' : division === 'Adult Community'}">Club</a>
  </div>

  <div class="btn-group btn-group-sm">
    <a (click)="onClickAlb('general')" class="btn btn-outline-secondary" [ngClass]="{'cactive' : alb === 'general'}">General</a>
    <a (click)="onClickAlb('atlarge')" class="btn btn-outline-secondary" [ngClass]="{'cactive' : alb === 'atlarge'}">At Large</a>
  </div>

  <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" 
  id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" 
  aria-expanded="false" [ngClass]="{'disabled' : alb === 'atlarge'}">
    <span *ngIf = "region === 'All'">Region</span>
    <span *ngIf = "region !== 'All'">{{region}}</span>
  </button>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a (click)="onClickReg('All')" class="dropdown-item">All</a>
    <a (click)="onClickReg('Great Lakes')" class="dropdown-item">Great Lakes</a>
    <a (click)="onClickReg('Mid-Atlantic')" class="dropdown-item">Mid-Atlantic</a>
    <a (click)="onClickReg('Midwest')" class="dropdown-item">Midwest</a>
    <a (click)="onClickReg('Northeast')" class="dropdown-item">Northeast</a>
    <a (click)="onClickReg('Northwest')" class="dropdown-item">Northwest</a>
    <a (click)="onClickReg('South')" class="dropdown-item">South</a>
    <a (click)="onClickReg('Southwest')" class="dropdown-item">Southwest</a>
    <a (click)="onClickReg('West')" class="dropdown-item">West</a>
  </div>

  <button class="btn btn-sm btn-outline-secondary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Glossary
  </button>
  <div class="collapse" id="collapseExample">
    <div class="card card-body">
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
    </div>
  </div>

  <table class = "table table-sm table-responsive-md table-striped table-hover">
    <thead>
      <th>#</th>
      <th></th>
      <th class="record">W-L</th>
      <th>PCT</th>
      <th>QPPG</th>
      <th>OQPPG</th>
      <th>QPDiff</th>
      <th>SnPCT</th>
      <th>SWIM</th>
      <th>SOS</th>
      <th>Perf</th>
    </thead>
    <tbody>
      <tr [ngClass] = "{'cutoff': alb ==='atlarge' && ((team.albRank === 16 && team.division === 'College') 
      || (team.albRank === 11 && team.division === 'Adult Community'))}" 
      *ngFor="let team of teams | paginate: { itemsPerPage: 25, currentPage: p }">
        <td class="rank" *ngIf = "division === 'All'">{{team.genRank}}</td>
        <td class="rank" *ngIf = "division !== 'All' && alb === 'general'">{{team.divRank}}</td>
        <td class="rank" *ngIf = "division !== 'All' && alb === 'atlarge'">{{team.albRank}}</td>

        <td class="name">
          <a href = 'teams/{{team.teamName}}'>{{team.teamName}}</a>
        </td>

        <td class="record">{{team.w}}-{{team.l}}</td>
        <td>{{team.wpct | number:'1.2-2'}}</td>
        <td>{{team.qppg | number:'1.2-2'}}</td>
        <td>{{team.oqppg | number:'1.2-2'}}</td>
        <td>{{team.avgdiff | number:'1.2-2'}}</td>
        <td>{{team.catchpct | number:'1.2-2'}}</td>
        <td>{{team.swim | number:'1.2-2'}}</td>
        <td>{{team.sos | number:'1.2-2'}}</td>
        <td>{{team.perf | number:'1.2-2'}}</td>
      </tr>
    </tbody>
  </table>
  <div class="paginationContainer">
    <pagination-controls (pageChange)="p = $event" maxSize="5" autohide="true"></pagination-controls>
  </div>
</div>