<div class = "container-fluid">
  <div class="tableContainer">
    <!-- HEADER -->
    <h1>Standings</h1>

    <!-- BUTTONS -->
    <div class="btn-group btn-group-sm">
      <a (click)="onClickDiv('All')" class="btn btn-outline-secondary" 
      [ngClass]="{'cactive' : division === 'All','disabled' : alb === 'atlarge'}" 
      >All</a>
      <a (click)="onClickDiv('College')" class="btn btn-outline-secondary" [ngClass]="{'cactive' : division === 'College'}">College</a>
      <a (click)="onClickDiv('Adult Community')" class="btn btn-outline-secondary" [ngClass]="{'cactive' : division === 'Adult Community'}">Club</a>
    </div>

    <div class="btn-group btn-group-sm">
      <a (click)="onClickAlb('general')" class="btn btn-outline-secondary" [ngClass]="{'cactive' : alb === 'general'}">General</a>
      <a (click)="onClickAlb('atlarge')" class="btn btn-outline-secondary" [ngClass]="{'cactive' : alb === 'atlarge'}">At Large</a>
    </div>

    <!-- REGION DROPDOWN -->
    <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" 
    id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" 
    aria-expanded="false" [ngClass]="{'disabled' : alb === 'atlarge'}">
      <span *ngIf = "region === 'All'">Region</span>
      <span *ngIf = "region !== 'All'">{{region}}</span>
    </button>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a (click)="onClickReg('All')" class="dropdown-item">All</a>
      <a (click)="onClickReg('Great Lakes')" class="dropdown-item">Great Lakes</a>
      <a (click)="onClickReg('Mid-Atlantic')" class="dropdown-item">Mid-Atlantic</a>
      <a (click)="onClickReg('Midwest')" class="dropdown-item">Midwest</a>
      <a (click)="onClickReg('Northeast')" class="dropdown-item">Northeast</a>
      <a (click)="onClickReg('Northwest')" class="dropdown-item">Northwest</a>
      <a (click)="onClickReg('South')" class="dropdown-item">South</a>
      <a (click)="onClickReg('Southwest')" class="dropdown-item">Southwest</a>
      <a (click)="onClickReg('West')" class="dropdown-item">West</a>
    </div>

    <!-- Glossary -->
    <button class="btn btn-sm btn-outline-secondary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      Glossary
    </button>
    <div class="collapse" id="collapseExample">
      <div class="glossary">
        <p>W = Wins</p>
        <p>L = Losses</p>
        <p>PCT = Win Percentage</p>
        <p>QPPG = Average Quaffle Points Per Game</p>
        <p>OQPPG = Average Opponents Quaffle Points Per Game</p>
        <p>QPDIFF = Average Quaffle Point Differential</p>
        <p>CatchPCT = Snitch Catch Percentage (includes catches leading to overtime and double overtime)</p>
        <img src="../../assets/images/SOS.png" /><br />
        <img style="padding-top:10px; padding-bottom:10px;"src="~/../../assets/images/SWIM.png" /><br />
        <img src="~../../assets/images/PERF.png" />
      </div>
    </div>


    <!-- TABLE HEADERS -->
    <table class = "table table-sm table-responsive-md table-striped table-hover">
      <thead>
        <th (click)="onClickSort('perf')">#<i class="fas fa-sort"></i></th>
        <th (click)="onClickSort('teamName')"></th>
        <th class="record"><span (click)="onClickSort('w')">W</span>-<span (click)="onClickSort('l')">L</span><i class="fas fa-sort"></i></th>
        <th (click)="onClickSort('wpct')">PCT <i class="fas fa-sort"></i></th>
        <th (click)="onClickSort('qppg')">QPPG<i class="fas fa-sort"></i></th>
        <th (click)="onClickSort('oqppg')">OQPPG<i class="fas fa-sort"></i></th>
        <th (click)="onClickSort('avgdiff')">QPDiff<i class="fas fa-sort"></i></th>
        <th (click)="onClickSort('catchpct')">SnPCT<i class="fas fa-sort"></i></th>
        <th (click)="onClickSort('swim')">SWIM<i class="fas fa-sort"></i></th>
        <th (click)="onClickSort('sos')">SOS<i class="fas fa-sort"></i></th>
        <th (click)="onClickSort('perf')">Perf<i class="fas fa-sort"></i></th>
      </thead>

      <!-- STANDINGS BODY -->
      <tbody>
        <tr [ngClass] = "{'cutoff': alb ==='atlarge' && ((team.albRank === 16 && team.division === 'College') 
        || (team.albRank === 11 && team.division === 'Adult Community'))}" 
        *ngFor="let team of teams | paginate: { itemsPerPage: 25, currentPage: p }; let i = index">
          <td class="rank">{{i+1}}</td>
          <td class="name">
            <a routerLink='/teams/{{team.teamName}}'>{{team.teamName}}</a>
          </td>

          <td class="record">{{team.w}}-{{team.l}}</td>
          <td>{{team.wpct | number:'1.2-2'}}</td>
          <td>{{team.qppg | number:'1.2-2'}}</td>
          <td>{{team.oqppg | number:'1.2-2'}}</td>
          <td>{{team.avgdiff | number:'1.2-2'}}</td>
          <td>{{team.catchpct | number:'1.2-2'}}</td>
          <td>{{team.swim | number:'1.2-2'}}</td>
          <td>{{team.sos | number:'1.2-2'}}</td>
          <td>{{team.perf | number:'1.2-2'}}</td>
        </tr>
      </tbody>
    </table>
    <div class="paginationContainer">
      <pagination-controls (pageChange)="p = $event" maxSize="5" autohide="true"></pagination-controls>
    </div>
  </div>
</div>