.tableContainer{
    width: 95%;
    background-color: white;
    margin:auto;
    /* margin-top: 2.5%; */
    font-size: 12px;
    padding-top:20px;
    padding-left:2.5%;
    padding-right:2.5%;
    padding-bottom: 20px;
}

table{
    margin:auto;
    font-size: 12px;
    margin-top: 20px;
}

h1{
    margin-bottom: 20px;
}

td, th{
    text-align: right;
    border:none;
    border-bottom: none;
}

.rank{
    font-weight: bold;
    width:30px
}

.name{
    text-align: left;
    width:230px;
    font-weight:bold;
}

.record{
    text-align: center;
    white-space: nowrap ;
}

td:nth-child(1), td:nth-child(2), td:nth-child(4), 
td:nth-child(7), td:nth-child(8){
    border-right:2px solid #ddd;
}

.paginationContainer{
    text-align: right;
    /* margin-right:5%; */
}

button, .btn-group{
    margin-top:10px;
    color: black;
}

.cactive{
    color: white !important;
    background-color: #868E96;
}

.cutoff{
    border-bottom: 3px solid black;
}

.glossary{
    border:2px solid #ddd;
    border-radius: 3px;
    padding:10px;
}

.container-fluid{
    padding:2.5%;
}